<?php

    include('./Views/Admin/Common/header.html');

?>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">作品管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="insert.html"><i class="icon-font"></i>新增作品</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>类别ID</th>
                            <th>类别名称</th>
                            <th>PID</th>
                            <th>PATH</th>
                            <th>操作</th>
                        </tr>
                <?php  foreach($cates as $k=>$v): ?>
                        <tr>
                            <td><?=$v->cid?></td>
                            <td>
                            <?php
                                $n = substr_count($v->path,',')-1;
                                echo str_repeat('&nbsp;',$n*8).'|--'.$v->cname;
                            ?>
                            </td>
                            <td><?=$v->pid?></td>
                            <td><?=$v->path?></td>
                            <td>
                                <a class="link-update" href="./index.php?m=admin&c=cate&a=edit&cid=<?=$v->cid?>">修改</a>
                                <a class="link-del" onclick="return confirm('你确定要删除吗?')" href="./index.php?m=admin&c=cate&a=del&cid=<?=$v->cid?>">删除</a>
                                <a class="link-update" href="./index.php?m=admin&c=cate&a=add&cid=<?=$v->cid?>">添加子分类</a>
                            </td>
                        </tr>
                <?php  endforeach;  ?>      
                    </table>
                    <div class="list-page"> 2 条 1/1 页</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>